{{#with selectedPage}}
  <div class="message-container">
    <div class="message-scroll-area">
      <div class="message-header">
        <p class="message-subject">
          <strong>
            {{#with (regexExtract this.text.content "\\\[Subject\\\](.+?)\\\[End\\\]")}}
              {{#if this.[1]}}{{this.[1]}}{{else}}{{../this.name}}{{/if}}
            {{/with}}
          </strong>
        </p>
        <div class="email-header">
          <p><strong>From:</strong> 
            <span>
              {{#with (regexExtract this.text.content "\\\[From\\\](.+?)\\\[End\\\]")}}
                {{#if this.[1]}}{{this.[1]}}{{else}}Unknown Sender{{/if}}
              {{/with}}
            </span>
          </p>
          <p><strong>To:</strong> 
            <span>
              {{#with (regexExtract this.text.content "\\\[To\\\](.+?)\\\[End\\\]")}}
                {{#if this.[1]}}{{this.[1]}}{{else}}Unknown Recipient{{/if}}
              {{/with}}
            </span>
          </p>
          <p><strong>Date:</strong> 
            <span>
              {{#with (regexExtract this.text.content "\\\[Date\\\](.+?)\\\[End\\\]")}}
                {{#if this.[1]}}{{this.[1]}}{{else}}Unknown Date{{/if}}
              {{/with}}
            </span>
          </p>
        </div>
      </div>
      <div>
        {{{extractMessageText this.text.content}}}
      </div>
    </div>
    
    <div class="message-footer">
      <div class="message-actions">
        <button class="action-btn save-btn {{#if (isSaved this)}}active{{/if}}" title="{{#if (isSaved this)}}Unsave Message{{else}}Save Message{{/if}}">
          <i class="fas fa-star"></i> {{#if (isSaved this)}}Unsave{{else}}Save{{/if}}
        </button>
        <button class="action-btn share-btn" title="Share to Chat">
          <i class="fas fa-share"></i> Share
        </button>
        <button class="action-btn reply-btn" title="Reply">
          <i class="fas fa-reply"></i> Reply
        </button>
        <button class="action-btn spam-btn {{#if (isSpam this)}}active{{/if}}" title="{{#if (isSpam this)}}Unmark as Spam{{else}}Mark as Spam{{/if}}">
          <i class="fas fa-exclamation-triangle"></i> {{#if (isSpam this)}}Unspam{{else}}Spam{{/if}}
        </button>
        <button class="action-btn forward-btn" title="Forward">
          <i class="fas fa-share-square"></i> Forward
        </button>
        <button class="action-btn delete-btn" type="button" title="Delete Message">
          <i class="fas fa-trash"></i> Delete
        </button>
        <button class="action-btn export-btn" title="Export">
          <i class="fas fa-file-export"></i> Export
        </button>
      </div>
    </div>
  </div>
{{/with}}