{{#with this}}
  <div class="page-title {{#if (includes ../unreadMessages this.id)}}message-unread{{/if}}" data-page-id="{{this.id}}">
    <div class="header-row">
      <span class="date">
        {{#with (regexExtract this.text.content "\[Date\](.+?)\[End\]")}}
          {{#if this.[1]}}{{this.[1]}}{{else}}Unknown Date{{/if}}
        {{/with}}
      </span>
      <span class="sender">
        {{#with (regexExtract this.text.content "\[From\](.+?)\[End\]")}}
          {{#if this.[1]}}{{extractSenderName this.[1]}}{{else}}Unknown Sender{{/if}}
        {{/with}}
      </span>
    </div>
    <div class="message-email-content">
      {{#if (includes ../unreadMessages this.id)}}
        <span class="new-message-badge">NEW</span>
      {{/if}}
      <span class="subject">
        {{#with (regexExtract this.text.content "\[Subject\](.+?)\[End\]")}}
          {{#if this.[1]}}{{this.[1]}}{{else}}No Subject{{/if}}
        {{/with}}
      </span>
    </div>
  </div>
{{/with}}