{{!-- Chat Card: Network Broadcast --}}
<div class="ncm-cc ncm-cc--broadcast">
  <div class="ncm-cc__scanline"></div>
  <div class="ncm-cc__header">
    <i class="fas fa-tower-broadcast"></i>
    <span class="ncm-cc__badge">Network Broadcast</span>
    <span class="ncm-cc__header-meta">{{networkName}}</span>
  </div>
  <div class="ncm-cc__body">
    <div class="ncm-cc__broadcast-body"><i class="fas fa-triangle-exclamation"></i> <span>{{message}}</span></div>
  </div>
  <div class="ncm-cc__footer">
    <span class="ncm-cc__network"><i class="fas fa-tower-broadcast"></i> {{networkName}} // SYSTEM BROADCAST</span>
  </div>
</div>
