{{!-- User Management Partial --}}
{{!-- File: templates/admin-panel/partials/user-management.hbs --}}

<div class="ncm-admin-panel__tools">
  {{!-- General Settings --}}
  <div class="ncm-admin-panel__tool-card">
    <h3 class="ncm-admin-panel__tool-title">General Settings</h3>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__checkbox-label">
        <input type="checkbox" data-setting="enableModule" {{#if settings.enableModule}}checked{{/if}}>
        <span>Enable Night City Messenger</span>
      </label>
    </div>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__checkbox-label">
        <input type="checkbox" data-setting="enableNotifications" {{#if settings.enableNotifications}}checked{{/if}}>
        <span>Enable Notifications</span>
      </label>
    </div>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__checkbox-label">
        <input type="checkbox" data-setting="enableSounds" {{#if settings.enableSounds}}checked{{/if}}>
        <span>Enable Sound Effects</span>
      </label>
    </div>
  </div>
  
  {{!-- Message Settings --}}
  <div class="ncm-admin-panel__tool-card">
    <h3 class="ncm-admin-panel__tool-title">Message Settings</h3>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__label">Max Message Length</label>
      <input type="number" class="ncm-dialog__input" value="{{settings.maxMessageLength}}" data-setting="maxMessageLength">
    </div>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__label">Message Retention (days)</label>
      <input type="number" class="ncm-dialog__input" value="{{settings.messageRetention}}" data-setting="messageRetention">
      <p class="ncm-dialog__hint">0 = Keep forever</p>
    </div>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__checkbox-label">
        <input type="checkbox" data-setting="requireSubject" {{#if settings.requireSubject}}checked{{/if}}>
        <span>Require Message Subject</span>
      </label>
    </div>
  </div>
  
  {{!-- Network Settings --}}
  <div class="ncm-admin-panel__tool-card">
    <h3 class="ncm-admin-panel__tool-title">Network Settings</h3>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__label">Default Network</label>
      <select class="ncm-dialog__select" data-setting="defaultNetwork">
        {{#each networks}}
          <option value="{{this.id}}" {{#if (eq this.id ../settings.defaultNetwork)}}selected{{/if}}>
            {{this.name}}
          </option>
        {{/each}}
      </select>
    </div>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__checkbox-label">
        <input type="checkbox" data-setting="dynamicNetworks" {{#if settings.dynamicNetworks}}checked{{/if}}>
        <span>Enable Dynamic Network States</span>
      </label>
    </div>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__checkbox-label">
        <input type="checkbox" data-setting="deadZonesEnabled" {{#if settings.deadZonesEnabled}}checked{{/if}}>
        <span>Enable Dead Zones</span>
      </label>
    </div>
  </div>
  
  {{!-- UI Settings --}}
  <div class="ncm-admin-panel__tool-card">
    <h3 class="ncm-admin-panel__tool-title">UI Settings</h3>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__label">Theme</label>
      <select class="ncm-dialog__select" data-setting="theme">
        <option value="cyberpunk-red" {{#if (eq settings.theme "cyberpunk-red")}}selected{{/if}}>Cyberpunk Red</option>
        <option value="night-city-noir" {{#if (eq settings.theme "night-city-noir")}}selected{{/if}}>Night City Noir</option>
        <option value="corpo-clean" {{#if (eq settings.theme "corpo-clean")}}selected{{/if}}>Corpo Clean</option>
      </select>
    </div>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__checkbox-label">
        <input type="checkbox" data-setting="enableAnimations" {{#if settings.enableAnimations}}checked{{/if}}>
        <span>Enable Animations</span>
      </label>
    </div>
    
    <div class="ncm-dialog__form-group">
      <label class="ncm-dialog__checkbox-label">
        <input type="checkbox" data-setting="enableGlitchEffects" {{#if settings.enableGlitchEffects}}checked{{/if}}>
        <span>Enable Glitch Effects</span>
      </label>
    </div>
  </div>
</div>